body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.room{
  height: 800px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.room form{
  position: absolute;bottom:0;width:100%;
}

.room form textarea{
  border:0;
  padding:15px 10px;
  height:auto;
  margin-right: .5%;
}
.room form button{
  width: 14%;padding:15px 12px;border:none;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#messages li {
  padding: 10px;
  position: relative;
  display: flex;
}
#messages li.sender{
  flex-direction: row-reverse;
}
#messages li.sender img{
  margin-left: 10px;
}
#messages li time{
  font-size:.7em;
  color: silver;
  position: absolute;
  bottom: -10px;
}
#messages li.sender time{
  right:60px;
}
#messages li.receiver time{
  left:60px;
}
#messages li.receiver{
  flex-direction: row;
}
#messages li.receiver img{
  margin-right: 10px;
}
#messages li div{
  padding:10px;
  border-radius: 10px;
}
#messages li.sender div{
  background: greenyellow;
  max-width:200px;
}
#messages li.receiver div{
  background: #eeeeee;
  max-width:200px;
}
#messages li.system div{
  font-size:.7em;
  color: silver;
  text-align: center;
}
#messages li.system img,#messages li.system time{
  display: none;
}
#messages li.system{
  display: block;
}

/*房间列表*/
.room-list{
  list-style-type: none;
}
.no-room-label{
  margin: 0 10px;
  padding: 5px 8px;
}
.room-content h3{
  color:white
}
.avatar-list img{
  margin:10px;
}
.no-room{
  color: red;
  margin-left: 20px;
}